---
import Layout from "../layouts/Layout.astro";
import HeroHome from "../components/HeroHome.astro";
import { getCollection } from "astro:content";

import CardClean from "../components/home/CardClean.astro";
import CardSubClean from "../components/home/CardSubClean.astro";
import SectionGreenFull from "../components/home/SectionGreenFull.astro";
import CardGreenFull from "../components/home/CardGreenFull.astro";
import SectionContainerFullCards from "../components/home/SectionContainerFullCards.astro";
import CardMiniGreen from "../components/home/CardMiniGreen.astro";

const info = await getCollection("info");
const queFintech = info.filter((item) => item.data.id === "queFintech")[0];
const billeteras = info.filter((item) => item.data.id === "billeterasElectronicas")[0];
const pagos = info.filter((item) => item.data.id === "pagosDigitales")[0];
const seguras = info.filter((item) => item.data.id === "fintechSeguras")[0];
const fintecHonduras = info.filter((item) => item.data.id === "fintechHonduras")[0];
const indel = info.filter((item) => item.data.id === "INDEL")[0];
const epspe = info.filter((item) => item.data.id === "EPSPE")[0];

---

<Layout>
  <HeroHome />
  <main>
    <CardClean
      titulo={queFintech.data.titulo}
      descripcion={queFintech.data.descripcion}
      url={`/conocer-mas/${queFintech.slug}`}
      btText="Más información"
    />

    <SectionGreenFull>
      <CardSubClean
        titulo={billeteras.data.titulo}
        descripcion={billeteras.data.descripcion}
        url={`/conocer-mas/${billeteras.slug}`}
        btText="Más información"
        ani="l"
      />
      <CardSubClean
        titulo={pagos.data.titulo}
        descripcion={pagos.data.descripcion}
        url={`/conocer-mas/${pagos.slug}`}
        btText="Más información"
        ani="r"
      />
    </SectionGreenFull>

		<CardGreenFull
			titulo={seguras.data.titulo}
			descripcion={seguras.data.descripcion}
			url={`/conocer-mas/${seguras.slug}`}
			btText="Más información"
		/>
		
    <SectionContainerFullCards 
      titulo={fintecHonduras.data.titulo}
      descripcion={fintecHonduras.data.descripcion}
      url={`/conocer-mas/${fintecHonduras.slug}`}
      btText="Más información"
    >
      <CardMiniGreen
        titulo={indel.data.titulo}
        descripcion={indel.data.descripcion}
        url={`/conocer-mas/${indel.slug}`}
        btText="Más información"
      />
      <CardMiniGreen
        titulo={epspe.data.titulo}
        descripcion={epspe.data.descripcion}
        url={`/conocer-mas/${epspe.slug}`}
        btText="Más información"
      />
    </SectionContainerFullCards>

  
  </main>
</Layout>

