---
import Layout from "../layouts/Layout.astro";
import HeroHome from "../components/HeroHome.astro";
import { getCollection } from "astro:content";

import CardClean from "../components/home/CardClean.astro";
import CardSubClean from "../components/home/CardSubClean.astro";
import SectionGreenFull from "../components/home/SectionGreenFull.astro";
import CardGreenFull from "../components/home/CardGreenFull.astro";
import SectionContainerFullCards from "../components/home/SectionContainerFullCards.astro";
import CardMiniGreen from "../components/home/CardMiniGreen.astro";
import SectionMultiCardT from "../components/home/SectionMultiCardT.astro";
import CardMiniTitulo from "../components/home/CardMiniTitulo.astro";

const info = await getCollection("info");
const queFintech = info.filter((item) => item.data.id === "queFintech")[0];
const billeteras = info.filter((item) => item.data.id === "billeterasElectronicas")[0];
const pagos = info.filter((item) => item.data.id === "pagosDigitales")[0];
const seguras = info.filter((item) => item.data.id === "fintechSeguras")[0];
const fintecHonduras = info.filter((item) => item.data.id === "fintechHonduras")[0];
const indel = info.filter((item) => item.data.id === "INDEL")[0];
const epspe = info.filter((item) => item.data.id === "EPSPE")[0];
const SCfintech01 = info.filter((item) => item.data.id === "SCfintech01")[0];
const SCfintech02 = info.filter((item) => item.data.id === "SCfintech02")[0];
const SCfintech03 = info.filter((item) => item.data.id === "SCfintech03")[0];
const SCfintech04 = info.filter((item) => item.data.id === "SCfintech04")[0];

---

<Layout>
  <HeroHome />
  <main>
    <CardClean
      titulo={queFintech.data.titulo}
      descripcion={queFintech.data.descripcion}
      url={`/conocer-mas/${queFintech.slug}`}
      btText="Más información"
    />

    <SectionGreenFull>
      <CardSubClean
        titulo={billeteras.data.titulo}
        descripcion={billeteras.data.descripcion}
        url={`/conocer-mas/${billeteras.slug}`}
        btText="Más información"
        ani="l"
      />
      <CardSubClean
        titulo={pagos.data.titulo}
        descripcion={pagos.data.descripcion}
        url={`/conocer-mas/${pagos.slug}`}
        btText="Más información"
        ani="r"
      />
    </SectionGreenFull>

		<CardGreenFull
			titulo={seguras.data.titulo}
			descripcion={seguras.data.descripcion}
			url={`/conocer-mas/${seguras.slug}`}
			btText="Más información"
		/>
		
    <SectionContainerFullCards 
      titulo={fintecHonduras.data.titulo}
      descripcion={fintecHonduras.data.descripcion}
      url={`/conocer-mas/${fintecHonduras.slug}`}
      btText="Más información"
    >
      <CardMiniGreen
        titulo={indel.data.titulo}
        descripcion={indel.data.descripcion}
        url={`/conocer-mas/${indel.slug}`}
        btText="Más información"
      />
      <CardMiniGreen
        titulo={epspe.data.titulo}
        descripcion={epspe.data.descripcion}
        url={`/conocer-mas/${epspe.slug}`}
        btText="Más información"
      />
    </SectionContainerFullCards>

    <SectionMultiCardT
      titulo="Futuro Financiero Digital Seguro"
    >
      <CardMiniTitulo
        titulo={SCfintech01.data.titulo}
        url={`/conocer-mas/${SCfintech01.slug}`}
        btText="Más información"
      />
      <CardMiniTitulo
        titulo={SCfintech02.data.titulo}
        url={`/conocer-mas/${SCfintech02.slug}`}
        btText="Más información"
      />
      <CardMiniTitulo
        titulo={SCfintech03.data.titulo}
        url={`/conocer-mas/${SCfintech03.slug}`}
        btText="Más información"
      />
      <CardMiniTitulo
        titulo={SCfintech04.data.titulo}
        url={`/conocer-mas/${SCfintech04.slug}`}
        btText="Más información"
      />
    </SectionMultiCardT>

    <!-- Cambiar esta sección y agregar preguntas y definiciones -->
    
    <SectionContainerFullCards 
    titulo="Descubre más información"
    descripcion="Encuentra más articulos que pueden ser de ayuda e interés para ti en nuestro blog"
    url={`/articulos`}
    btText="Ir a Artículos"
    >
    </SectionContainerFullCards>

    <SectionMultiCardT
      titulo="Conoce más en los sitios oficiales"
    >
      <CardMiniTitulo
        titulo="Comisión Nacional de Bancos y Seguros"
        url="https://www.cnbs.gob.hn/"
        btText="Ir al sitio"
      />
      <CardMiniTitulo
        titulo="Hub de Innovación Financiera"
        url="https://www.cnbs.gob.hn/hub-de-innovacion-financiera-de-honduras/"
        btText="Ir al sitio"
      />
      <CardMiniTitulo
        titulo="BCH INDEL"
        url="https://www.bch.hn/politica-institucional/sistemas-de-pago/informacion-general/instituciones-no-bancarias-que-brindan-servicios-de-pago-utilizando-dinero-electr%C3%B3nico"
        btText="Ir al sitio"
      />
      <CardMiniTitulo
        titulo="BCH EPSPE"
        url="https://www.bch.hn/acerca-del-bch/registro-especial-epspe"
        btText="Ir al sitio"
      />
    </SectionMultiCardT>
    
  
  </main>
</Layout>

