---
import Boton from "../Boton.astro"
const { titulo, descripcion, url, btText, ani } = Astro.props;
const animation = ani === 'r' ? 'cardSub-r' : 'cardSub-l'
---
<div class={`${animation} text-center flex flex-col justify-between`}>
  <h4 class="font-bold text-2xl text-background-1 mb-2">{titulo}</h4>
  <p>{descripcion}</p>
  <Boton url={url} texto={btText} />
</div>

<script>
  import { gsap } from 'gsap';
	 gsap.from(".cardSub-r", { 
     duration: 2, 
     xPercent: 100, 
     autoAlpha: 0,
	 	 stagger: 0.2, 
	 	 ease: "power3.out",
     delay: 0.5
   });
   	 gsap.from(".cardSub-l", { 
     duration: 2, 
     xPercent: -100, 
     autoAlpha: 0,
	 	 stagger: 0.2, 
	 	 ease: "power3.out",
     delay: 0.5
   });
</script>

<style>

</style>