---
import { Image } from "astro:assets";
const { titulo, descripcion, tags, imagen, url } = Astro.props;

---

<li
  class="tj-info border-extra-soft-white text-soft-white bg-background-1 rounded-xl border "
>
  <article>
    <a href={url}>
      <Image
        src={imagen}
        alt=""
        width={1020}
        height={520}
        class="aspect-[16/5] rounded-t-xl object-cover"
      />
      <div class="w-full">
        <div class="flex flex-col p-3">
          <h4 class="content-tit text-3xl font-bold my-3">{titulo}</h4>
          <div class="flex flex-wrap gap-2 ">
              {
                tags?.map((tag) => (
                  <span class="inline-block bg-background-2 text-white px-3 py-1 rounded-full text-sm mr-2 mb-2">{tag}</span>
                ))
              }
          </div>
          <p class="content-txt my-4">{descripcion}</p>
          <p class="text-primary font-bold mb-4">Seguir leyendo...</p>
        </div>
      </div>
    </a>
  </article>
</li>
